# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [1]:
#Your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.DataFrame(pd.read_csv("homepage_actions.csv"))
data.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
data.info()
#number of entries and data typed in columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8188 non-null   object
 1   id         8188 non-null   int64
 2   group      8188 non-null   object
 3   action     8188 non-null   object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [4]:
data.value_counts("id")
#number of unique id's = 6328

id
937217    2
575502    2
583751    2
583515    2
583153    2
         ..
568845    1
568937    1
568992    1
569142    1
182988    1
Length: 6328, dtype: int64

In [5]:
exp_pple = data.loc[data['group'] == "experiment"]
len(exp_pple.value_counts("id"))
# number of in experimental group

2996

In [6]:
exp_click = exp_pple.loc[exp_pple["action"] == "click"]
len(exp_click.value_counts("id"))
#number experimental clickers

928

In [7]:
exp_viewers = exp_pple.loc[exp_pple["action"] != "click"]
#everyone in the experimental group who clicked viewed

In [8]:
exp_viewers

                       timestamp      id       group action
0     2016-09-24 17:42:27.839496  804196  experiment   view
1     2016-09-24 19:19:03.542569  434745  experiment   view
2     2016-09-24 19:36:00.944135  507599  experiment   view
4     2016-09-24 20:26:14.466886  536734  experiment   view
5     2016-09-24 20:32:25.712659  681598  experiment   view
...                          ...     ...         ...    ...
8176  2017-01-18 07:07:50.090346  540466  experiment   view
8179  2017-01-18 08:53:50.910310  615849  experiment   view
8183  2017-01-18 09:11:41.984113  192060  experiment   view
8184  2017-01-18 09:42:12.844575  755912  experiment   view
8185  2017-01-18 10:01:09.026482  458115  experiment   view

[2996 rows x 4 columns]

In [9]:
exp_click_id = exp_click["id"].unique()
#experimental click ids

In [10]:
exp_click_id

array([349125, 601714, 487634, 468601, 555973, 444902, 269335, 596892,
       653403, 922848, 283438, 370483, 826660, 246990, 832871, 839729,
       332165, 691753, 226057, 852585, 366151, 835449, 408715, 489523,
       349239, 828266, 825953, 786605, 420863, 755354, 619230, 838042,
       378232, 638030, 539338, 251716, 649807, 884709, 615186, 559646,
       700205, 619415, 645349, 432416, 696656, 297965, 430193, 399915,
       918596, 826501, 737683, 395723, 578003, 419220, 687985, 655266,
       206558, 279949, 559647, 424505, 766624, 378476, 825944, 335999,
       292135, 311308, 883141, 768170, 565462, 897647, 261705, 676381,
       832343, 831394, 246836, 305577, 411360, 183938, 520428, 215711,
       629121, 324368, 913773, 330972, 594134, 654566, 914320, 901121,
       355128, 843456, 451893, 191118, 925767, 432786, 603861, 712674,
       540722, 838743, 582967, 247961, 589699, 292642, 303720, 804645,
       360932, 714267, 288313, 541646, 277266, 414354, 314594, 277682,
       603030, 640924, 213516, 626389, 499639, 582033, 846019, 191688,
       536253, 608398, 205023, 647995, 638355, 625137, 880658, 451588,
       881992, 929043, 209934, 925193, 668378, 473047, 712472, 837797,
       911865, 889073, 683948, 606163, 768242, 238113, 746142, 315236,
       798035, 207612, 608715, 702995, 205853, 855908, 769105, 626808,
       296298, 532513, 367204, 810111, 537503, 678919, 632547, 625797,
       655924, 402978, 205897, 318849, 752464, 498550, 652319, 878755,
       928377, 761973, 242574, 820496, 514586, 807248, 226812, 204792,
       794838, 285489, 787632, 497914, 852520, 530057, 335803, 532734,
       758856, 431850, 269844, 749316, 517704, 373073, 235619, 588741,
       832195, 668344, 630342, 762439, 906503, 716741, 812423, 574717,
       542732, 508060, 715493, 373612, 279027, 706244, 926105, 526482,
       925387, 621743, 353494, 318786, 897684, 184441, 697792, 544437,
       581393, 366439, 336874, 452333, 345138, 245830, 893500, 918794,
       660329, 656904, 865288, 473078, 435243, 742418, 738820, 452157,
       198896, 825834, 191355, 516754, 904600, 684489, 269887, 487887,
       714589, 639558, 496398, 456648, 726679, 797425, 911024, 350610,
       788433, 799646, 843094, 401932, 642310, 628963, 805186, 317276,
       376641, 930618, 446758, 805835, 192320, 347460, 911951, 199540,
       671658, 307274, 673411, 716091, 333922, 288246, 781904, 323922,
       384816, 551144, 774776, 634713, 495984, 489984, 376021, 801278,
       412317, 335563, 788747, 446305, 266730, 556352, 458418, 465358,
       835521, 715671, 503459, 285562, 226935, 286428, 391475, 341356,
       394610, 708880, 527948, 821832, 513870, 762365, 848426, 459363,
       425818, 920069, 836790, 928876, 871471, 447796, 719574, 208883,
       793701, 804420, 351218, 337089, 661880, 630736, 644622, 295616,
       264704, 633337, 779555, 818545, 760251, 490550, 538330, 450999,
       206206, 525391, 889199, 425333, 929655, 601416, 251493, 319153,
       567467, 211527, 471550, 523144, 913919, 504568, 562099, 296775,
       619349, 712428, 445637, 486553, 767363, 548902, 358862, 374628,
       334785, 463578, 745970, 540210, 381388, 798082, 492979, 864486,
       823675, 315526, 699345, 818026, 263258, 334402, 346681, 745288,
       597870, 684561, 283397, 560020, 780976, 597905, 792881, 233701,
       221425, 244336, 864173, 403834, 444108, 804064, 214596, 620004,
       627793, 822183, 697015, 361004, 740391, 184654, 244995, 364246,
       448611, 379331, 733543, 465576, 813657, 272476, 752277, 878905,
       906870, 825849, 196367, 215913, 913220, 679394, 575505, 666481,
       647696, 446595, 438444, 916628, 779429, 298126, 746615, 274741,
       372892, 596109, 562051, 491729, 456597, 604525, 562905, 681481,
       805875, 280760, 719052, 469075, 903594, 348549, 920048, 239356,
       650322, 347908, 910611, 514046, 299126, 716108, 477205, 260564,
       925547, 392735, 687411, 183141, 248671, 480835, 933480, 345644,
       703194, 454074, 743043, 641268, 195631, 537705, 469120, 339175,
       436289, 711821, 334293, 525030, 224219, 924294, 647214, 261111,
       557099, 731949, 616584, 766704, 821865, 934268, 929454, 205250,
       706264, 494030, 798848, 569491, 504493, 812175, 803920, 515193,
       491548, 749085, 767668, 752853, 781172, 250065, 590341, 492142,
       830584, 635946, 841512, 451445, 583153, 826309, 659372, 924595,
       276126, 294827, 325412, 840119, 209052, 796174, 319578, 845024,
       426042, 737385, 857144, 262562, 323296, 267521, 259638, 229002,
       228627, 658759, 520954, 902927, 340917, 685970, 666439, 220827,
       490568, 365888, 588684, 485202, 624959, 674120, 234429, 707752,
       413380, 217792, 655572, 841283, 634055, 736705, 577284, 781693,
       636726, 248499, 732300, 841724, 837125, 207196, 750053, 418930,
       800624, 447843, 672794, 663087, 505175, 680916, 716448, 413142,
       540180, 278964, 281412, 620076, 766743, 408733, 490669, 896827,
       318153, 610346, 542366, 580280, 338717, 503822, 605989, 203215,
       804026, 656782, 400039, 670014, 494358, 457769, 436650, 506185,
       356143, 777733, 303750, 871872, 918853, 520842, 766212, 934787,
       729442, 879562, 737348, 746603, 834627, 326153, 585882, 910483,
       609340, 775717, 781279, 937139, 531050, 281739, 671267, 513061,
       447462, 295304, 865639, 303753, 571626, 725514, 736704, 919000,
       240509, 568156, 777016, 328542, 629241, 850765, 575856, 852772,
       720426, 662020, 223463, 374948, 751618, 356658, 471511, 550309,
       418454, 752627, 392260, 316339, 719557, 815490, 288567, 783383,
       898122, 565738, 597110, 283406, 275737, 885711, 320306, 583751,
       602415, 633430, 613951, 807008, 899555, 811763, 785014, 506406,
       342988, 871437, 398078, 192673, 590450, 538497, 641348, 763077,
       609119, 555492, 909764, 270926, 917891, 356458, 624139, 878928,
       640852, 430383, 780230, 710684, 851453, 833995, 423173, 656561,
       292842, 878630, 604441, 682109, 755521, 623217, 837982, 452999,
       528147, 546886, 883440, 802218, 492906, 469730, 298869, 797242,
       765369, 433024, 846738, 887594, 923941, 705685, 343303, 201505,
       288101, 703370, 861514, 704717, 489698, 543949, 864701, 694893,
       669959, 523552, 534246, 228665, 662654, 789085, 507942, 609072,
       252138, 870570, 404540, 476292, 314887, 882413, 736160, 431044,
       607964, 424852, 491810, 194447, 283663, 860314, 300715, 859114,
       880273, 695566, 740447, 693425, 574475, 436747, 535273, 314818,
       585087, 550233, 593494, 532966, 865923, 581394, 392696, 589899,
       839666, 259386, 444428, 253606, 626856, 463211, 427915, 706126,
       319332, 727771, 617012, 928146, 784645, 765118, 650749, 258867,
       414073, 613885, 896336, 326925, 325698, 236692, 684426, 851352,
       799307, 914851, 701333, 933330, 690293, 580812, 517256, 208714,
       550329, 548741, 457864, 661294, 371595, 380272, 821321, 718192,
       511007, 745329, 462035, 194789, 384340, 323038, 923694, 591014,
       335340, 684615, 376229, 428983, 276886, 648080, 867351, 912194,
       677814, 484136, 399591, 399109, 687449, 677896, 255764, 253387,
       674143, 755169, 789731, 254118, 269338, 897999, 285712, 675535,
       343553, 777986, 249471, 339780, 479601, 457492, 388778, 860324,
       429125, 434125, 596615, 614351, 217590, 767182, 241872, 888156,
       551076, 615294, 226772, 311160, 285722, 418710, 520263, 259680,
       247627, 257684, 267099, 264430, 574057, 485081, 742407, 922526,
       629353, 369511, 834105, 798801, 798722, 735922, 495381, 307601,
       797475, 610630, 549328, 882345, 442700, 548576, 590464, 368962,
       291960, 648158, 815117, 869163, 590004, 253483, 364622, 682133,
       675420, 645150, 899532, 545293, 797346, 693530, 249762, 291347,
       877598, 796512, 758078, 501233, 910053, 260086, 935742, 670959,
       202565, 402146, 911092, 657801, 872433, 523025, 419333, 385492,
       433237, 556424, 726805, 771872, 417434, 592433, 625999, 919244,
       793357, 586622, 866059, 816013, 314453, 440137, 431184, 417740,
       360101, 698172, 463584, 780279, 267809, 188580, 524185, 389759,
       813720, 442421, 771102, 891635, 865656, 413359, 344770, 615849])

In [11]:
exp_non_click = set(exp_viewers["id"]).difference(set(exp_click["id"]))
len(exp_non_click)
#number of experimental viewers who did not click

2068

In [12]:
ctrl_pple = data.loc[data['group'] == "control"]
len(ctrl_pple.value_counts("id"))
# number of in control group

3332

In [13]:
ctrl_click = ctrl_pple.loc[ctrl_pple["action"] == "click"]
len(ctrl_click.value_counts("id"))
#number control clickers

932

In [14]:
# len(ctrl_pple.loc[ctrl_pple["action"] != "click"])
ctrl_viewers = ctrl_pple.loc[ctrl_pple["action"] != "click"]
len(ctrl_viewers)
#everyone in the control group who clicked viewed

3332

In [15]:
ctrl_click_id = ctrl_click["id"].unique()
#control click ids

In [16]:
ctrl_non_click = set(ctrl_viewers["id"]).difference(set(ctrl_click["id"]))
len(ctrl_non_click)
#number of experimental viewers who did not click

2400

In [17]:
tot_viewers_non_click = exp_non_click.union(ctrl_non_click)
len(tot_viewers_non_click)

4468

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [18]:
#Create experimental and control daata frames indexed by Id's with binary data on clicking or non clicking

In [19]:
#Your code here

exp_pple_df = pd.DataFrame(exp_pple["id"].unique(),columns=["id"],index=exp_viewers.index)
exp_pple_df

          id
0     804196
1     434745
2     507599
4     536734
5     681598
...      ...
8176  540466
8179  615849
8183  192060
8184  755912
8185  458115

[2996 rows x 1 columns]

In [40]:
exp_pple_df["view"] = 1
exp_pple_df["click"] = (exp_pple["action"].replace({"click":1,"view":0}))
exp_pple_df["no_click"]= (exp_pple_df["view"])-(exp_pple_df["click"])
#creating binary columns

In [21]:
#exp_pple_df = exp_pple_df.set_index("id")

In [37]:
#exp_pple_df["click"] = exp_pple["action"].replace({"click":True,"view":False}).astype(int)
exp_pple_df

          id  view  click  no_click
0     804196     1      0         1
1     434745     1      0         1
2     507599     1      0         1
4     536734     1      0         1
5     681598     1      0         1
...      ...   ...    ...       ...
8176  540466     1      0         1
8179  615849     1      0         1
8183  192060     1      0         1
8184  755912     1      0         1
8185  458115     1      0         1

[2996 rows x 4 columns]

In [38]:
exp_pple_df["click"].value_counts()

0    2996
Name: click, dtype: int64

In [45]:
(exp_viewers.loc[exp_pple["action"].replace({"click":1,"view":0})])#.astype(int)#.value_counts()

                     timestamp      id       group action
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
..                         ...     ...         ...    ...
0   2016-09-24 17:42:27.839496  804196  experiment   view
1   2016-09-24 19:19:03.542569  434745  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view
0   2016-09-24 17:42:27.839496  804196  experiment   view

[3924 rows x 4 columns]

In [35]:
exp_pple_df["click"].value_counts()

0    2996
Name: click, dtype: int64

In [26]:
# for i in range(len(exp_pple_df)):
#     for j in range(len(exp_click)):
#         if exp_pple_df.iloc[i]["id"] == exp_click.iloc[j]["id"]:
#             exp_pple_df.iloc[i]["click"].replace(to)
# return exp_pple_df["click"]

In [27]:
# exp_pple_df[exp_pple_df["id"].isin(exp_click_id).replace(to_replace=exp_pple_df)]

In [28]:
import flatiron_stats as fs

ModuleNotFoundError: No module named 'flatiron_stats'

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [ ]:
#Your code here

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [ ]:
#Your code here

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [ ]:
#Your code here

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.